/* Password Prompt Modal */
div.password-prompt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.password-prompt-heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #F7E6C4;
}

.password-prompt-input {
  width: 250px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.password-prompt-button {
  padding: 0.5rem 1rem;
  background-color: #555;
  color: #F7E6C4;
  border: none;
  border-radius: 4
